@import '../../../common/commonStyles';

.form {
  @include flexCenter(column, center, flex-start);
  &__input {
    margin: 5px;
  }
  &__error {
    margin: 5px;
  }
  &__label {
    margin: 5px;
  }
  &__button {
    margin: 5px;
  }
}
