@import '../../../common/commonStyles';

.signApForm {
  @include flexCenter(row, space-between);
  flex-wrap: wrap;
  margin-top: 25px;

  &__content {
    max-width: 600px;
    min-height: 650px;
    margin: 130px auto 30px;
  }

  &__info {
    width: 88%;
    text-align: center;
    margin: 18px auto 0;
    color: white;
    letter-spacing: 1px;

    h2 {
      margin: 0;
      font-size: 38px;
      font-weight: 600;
    }
    h4 {
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      font-weight: 500;
      width: 88%;
      margin: 0 auto;
    }
  }

  &__label {
    position: relative;
    box-sizing: border-box;
    height: 70px;
    margin-top: 15px;
    display: flex;
    color: #9ca8b7;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }

    &_firstName,
    &_lastName,
    &_displayName,
    &_userEmail,
    &_userPassword,
    &_PasswordConfirmation,
    &_submit {
      border: 1px solid white;
      border-radius: 4px;
      width: 47.5%;
    }
    &_radio {
      display: flex;
      align-items: center;
      border: 1px solid white;
      width: 100%;
      & > div {
        color: white;
        p {
          margin: 0;
          font-size: 1.3rem;
          font-weight: lighter;
          letter-spacing: 1.8px;
        }
        span {
          letter-spacing: 0;
          font-size: 15px;
          font-weight: lighter;
        }
      }
    }
    &_checkbox {
      width: 100%;
      height: initial;
      color: white;
      font-size: 1rem;
      font-weight: lighter;
      letter-spacing: 1px;
    }

    &_submit {
      @include flexCenter;
      width: 100%;
      margin-top: 25px;
      border: 1px solid #28d2d0;
      color: white;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 1.5px;
    }
  }

  &__input {
    box-sizing: border-box;

    &_firstName,
    &_lastName,
    &_displayName,
    &_userEmail,
    &_userPassword,
    &_PasswordConfirmation,
    &_submit {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      border: 1px solid white;
      padding: 20px 25px;
      font-size: 1.3rem;
    }
    &_radio,
    &_checkbox {
      margin: 0 10px 0;
      width: 1rem;
      height: 1rem;
    }
    &_radio {
      margin-top: -20px;
    }
    &_submit {
      position: absolute;
      z-index: -1;
      display: flex;
      width: 100%;
      height: 100%;
      padding: 0;
      background-color: #3ea9f5;
      border: none;
      &:focus {
        outline: none;
      }
    }
    &_submit {
      height: 70px;
      background-color: #28d2d0;
    }
  }
}
