.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 600px;
  width: 100%;

  font-size: 30px;
}

.container > * {
  font-size: inherit;
  margin: 10px;
}

.input {
  padding: 10px;
  outline: none;
  border: 12px solid;
}

.inputValid {
  border-color: green;
}
.inputInvalid {
  border-color: red;
}

.sendButton {
  background-color: none;
  outline: none;
  border: none;
  font-size: 400px;
}
