@import '../../../common/commonStyles';

.loginForm {
  max-width: 600px;
  min-height: 650px;
  margin: 80px auto 30px;

  &__info {
    width: 88%;
    text-align: center;
    margin: 18px auto 0;
    color: white;
    letter-spacing: 1px;

    h2 {
      margin: 0;
      font-size: 38px;
      font-weight: 600;
    }
    h4 {
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      font-weight: 500;
      width: 88%;
      margin: 0 auto;
    }
  }
}
