@import '../../Slider/common/commonStyles';

.carousel {
  position: relative;
  @include flexCenter(row);
}
.buttonsBlock {
  position: absolute;
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: flex-start;
  bottom: 125px;
  & svg,
  input {
    position: relative;
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
}
.movesBlock {
  @include flexCenter();

  &__playControl {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.settings {
  position: absolute;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  padding: 5px;
  transform: translateY(-100%);
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.4s ease;
}
