@import '../../common/commonStyles';

.content {
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  z-index: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #3ea9f5;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 0;
}

.header {
  @include flexCenter(row, space-between);
  &__logo {
    text-align: left;
    width: 93.5%;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
  }
  &__button {
    padding: 10px 15px;
    color: white;
    background: #3ea9f5;
    border: 1px solid rgba(255, 255, 255, 0.77);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 0px;
    line-height: 22px;
    text-decoration: none;
  }
}
