@import '../../common/commonStyles';

.article {
  width: 100%;
  padding: 16px;
}

.table {
  margin-top: 16px;
  border: 2px solid;

  &__item {
    width: 100%;
    display: flex;
    border-top: 1px solid;
    word-wrap: break-word;

    &:first-child {
      font-size: 2rem;
      text-align: center;
    }

    &_label,
    &_link {
      max-width: 50%;
      min-width: 50%;
      border-right: 2px solid;
    }
    &_link {
      border-right: 2px solid;
    }
  }
}
